<link rel="stylesheet" type="text/css" href="/static/css/jqtree.css">
<div class="layui-tab-content" style="margin-left: 200px;">
    <a href="/adddocument/">
        <button id="addnode">添加根目录</button>
    </a>
    <button id="addsubnode" disabled="disabled">添加子目录</button>
    <button id="editnode" disabled="disabled">编辑目录</button>
    <button id="delnode" disabled="disabled">删除目录</button>
    <div id="tree" data-url="/getdocnodes/">
    </div>
</div>
<script src="/static/js/jQuery.js"></script>
<script src="/static/js/tree.jquery.js"></script>
<script src="/static/editor.md/editormd.min.js"></script>
<script>
$('#tree').tree({autoOpen: true});
</script>
<script type="text/javascript">
$('#tree').bind(
    'tree.select',
    function(event) {
        if (event.node) {
            $("#addsubnode").removeAttr("disabled", "disabled");
            $("#delnode").removeAttr("disabled", "disabled");
            $("#editnode").removeAttr("disabled", "disabled");

        } else {
            $("#addsubnode").attr("disabled", "disabled");
            $("#editnode").attr("disabled", "disabled");
            $("#delnode").attr("disabled", "disabled");
        }
    }
);
</script>
<script>
layui.config({
    base: '/static/js/'
}).use('document');
</script>
