<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
    <script type="text/javascript" src="/static/layui/layui.js"></script>
    <title></title>
</head>

<body>
    <form class="layui-form" method="post" style="margin:20px 20px 0px">
        <div class="layui-form-item">
            <label class="layui-form-label">菜单key</label>
            <div class="layui-input-block">
                <input type="text" name="key" required lay-verify="required" placeholder="请输入key" autocomplete="off" class="layui-input" value="{{.menu.Key}}" disabled="disabled">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" required lay-verify="required" placeholder="请输入菜单标题" autocomplete="off" class="layui-input" value="{{.menu.Title}}">
            </div>
        </div>
        <button class="layui-btn layui-btn-normal" lay-filter="editmenu" lay-submit type="button" style="float: right;">确认</button>
    </form>
    <script>
    layui.use(['form'], function() {
        var form = layui.form();
        var $ = layui.jquery;
        //监听提交
        form.on('submit(editmenu)', function(data) {
            $.ajax({
                async: false,
                url: "/menu/modify",
                data: {
                    "key": data.field.key,
                    "title": data.field.title
                },
                type: 'POST',
                success: function(text) {
                    if (text.code == 0) {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        location.href = '/admin/menumanagelist';

                    } else if (text.code != 0) {
                        layer.msg(text.msg)
                    }
                }
            });
            return false;
        });
    });
    </script>
</body>

</html>
