
<div class="layui-tab-content"  style="margin-left: 200px;">
<button class="layui-btn" id="addmenu">添加</button>


<table class="layui-table">
    <thead>
        <tr>
            <th>菜单码</th>
            <th>菜单标题</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    {{range .menu}}
        <tr>
            <td>{{.Key}}</td>
            <td>{{.Title}}</td>
            <td><button class="layui-btn layui-btn-mini" onclick="modifymenu({{.Key}})">修改</button>
<button class="layui-btn layui-btn-mini" onclick="delmenu({{.Key}})">删除</button></td>
        </tr>
    {{end}}    
    </tbody>
</table>
</div>
</div>
<script>
    layui.config({
        base: '/static/js/'
    }).use('admin');
</script>
<script src="/static/js/jQuery.js"></script>
</body>
</html>