<script src="/static/js/jQuery.js"></script>
<script src="/static/js/tree.jquery.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/jqtree.css">


<div class="layui-tab-content"  style="margin-left: 200px;">
<button class="layui-btn" id="addrole">添加</button>


<table class="layui-table">
    <thead>
        <tr>
            <th>角色名称</th>
            
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    {{range .role}}
        <tr>
            <td></td>
            <td><button class="layui-btn layui-btn-mini" >修改</button>
<button class="layui-btn layui-btn-mini">删除</button></td>
        </tr>
    {{end}}    
    </tbody>
</table>
</div>
</div>
<script>
    layui.config({
        base: '/static/js/'
    }).use('admin');
</script>

</body>
<div id="div_addrole" style="display: none;">
    <form class="layui-form" method="post" style="margin:20px 20px 0px">
                
<div class="layui-form-item">
<label class="layui-form-label">角色名称</label>
<div class="layui-input-block">
<input type="text" name="rolename" required  lay-verify="required"  autocomplete="off" class="layui-input">
</div>
</div>
<div class="layui-form-item">
<label class="layui-form-label">描述</label>
<div class="layui-input-block">
<input type="text" name="title" required  lay-verify="required" autocomplete="off" class="layui-input">
</div>
</div>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>设置权限</legend>
</fieldset>
<div id="roletree" data-url="/getrolenodes"></div>
<button class="layui-btn layui-btn-normal" id="postrole" type="button" style="float: right;">确认</button>
</form>
</div>
<script>
var $tree=$('#roletree')
$tree.tree({autoOpen: true,checkBoxes: true});
$tree.on(
        'tree.click',
        function(e) {
            // Disable single selection
            e.preventDefault();

            var selected_node = e.node;

            if (selected_node.id == undefined) {
                console.log('The multiple selection functions require that nodes have an id');
            }


            if ($tree.tree('isNodeSelected', selected_node)) {
                $tree.tree('removeFromSelection', selected_node);
                if (selected_node.children.length>0){
                    for (var i=0; i < selected_node.children.length; i++) {
                //遍历子节点,选中所有
                var child = selected_node.children[i];
                $tree.tree('removeFromSelection', child);
            }
                
            }
            }
            else {
                $tree.tree('addToSelection', selected_node);
                $tree.tree('addToSelection', selected_node.parent);
                if (selected_node.children.length>0){
                    for (var i=0; i < selected_node.children.length; i++) {
                //遍历子节点,选中所有
                var child = selected_node.children[i];
                $tree.tree('addToSelection', child);
            }
   
            }
            }
        }
        
    );

$("#postrole").bind('click',function(){
    var r=new Array()
    var nodes = $('#roletree').tree('getSelectedNodes')
    console.log(nodes)
    // for (var i=0; i < nodes.length; i++) {
    //             console.log(nodes[i].id);
                
    //         }
})
</script>
</html>
