<ul class="fly-list">
    {{range .adopts}}
    <li class="fly-list-li">
        <a href="/user/detial/{{.Topic.Author.Id}}" class="fly-list-avatar">
            <img src="/static/168.jpg" alt="测试">
        </a>
        <h2 class="fly-tip">
                    <a href="/topic/{{.Topic.Id}}">{{.Topic.Title}}</a>
                    <!-- <span class="fly-tip-stick">置顶</span> -->
                    <!-- <span class="fly-tip-jing">精华</span> -->
                </h2>
        <p>
            <span><a href="/user/detial/{{.Topic.Author.Id}}">{{.Topic.Author.Nickname}}</a></span>
            <span>{{date .Topic.Ctime "Y-m-d H:i:s"}}</span>
            <a href="/topic/search?category={{.Topic.Category.Category}}" class="label-item" style="margin: 0;">{{.Topic.Category.Category}}</a>
            
            <span class="fly-list-hint">
                        <span>评论 :&nbsp{{.Topic.ReplyCount}}</span>
                        <span>&nbsp浏览 :&nbsp{{.Topic.View}}</span>
                        <span><a href="/topic/{{.Topic.Id}}">&nbsp阅读全文&raquo;</a></span>
                    </span>
        </p>
    </li>
    {{end}}
</ul>
