<ul class="fly-list">
    {{range .newreplys}}
    <li class="fly-list-li">
        <a href="/user/detial/{{.Author.Id}}" class="fly-list-avatar">
            <img src="{{.Author.Avatar}}" alt="">
        </a>
        <h2 class="fly-tip">
                    <a href="/topic/{{.Id}}">{{.Title}}</a>
                    <!-- <span class="fly-tip-stick">置顶</span> -->
                    <!-- <span class="fly-tip-jing">精华</span> -->
                </h2>
        <p>
            <span><a href="/user/detial/{{.Author.Id}}">{{.Author.Nickname}}</a></span>
            <span>{{date .Ctime "Y-m-d H:i:s"}}</span>
            <a href="/topic/search?category={{.Category.Category}}" class="label-item" style="margin: 0;">{{.Category.Category}}</a>
            <span class="fly-list-hint">
                        <span>评论 :&nbsp{{.ReplyCount}}</span>
                        <span>&nbsp浏览 :&nbsp{{.View}}</span>
                        <span><a href="/topic/detial?id={{.Id}}">&nbsp阅读全文&raquo;</a></span>
                    </span>
        </p>
    </li>
    {{end}}
</ul>
