<!DOCTYPE html>
<html>
{{template "public/header.html" .}}
<title>测试君|社区</title>
</head>

<body>
    {{template "public/nav.html" .}}
    <div class="main">
        <div class="page_left">
            <div class="detail_container trans_3">
                <h1>{{.topic.Title}}</h1>
                <div class="date_hits">
                    <span><i>标签:{{.topic.Category.Category}}</i></span>
                    <span><i>发表于：</i>{{date .topic.Ctime "Y-m-d H:i:s"}}</span>
                    <span><i>作者：</i>{{.topic.Author.Nickname}}</span>
                    <span><i>浏览数：</i> {{.topic.View}}</span>
                    <span><i>评论数：</i> {{.topic.ReplyCount}}</a></span>
                </div>
                <div class="t_content">
                    {{str2html .topic.Content}}
                </div>
                <div class="prev_next">
                    {{if gt .upper_topic.Id 0}}
                    <div class="prev"><a href="/topic/{{.upper_topic.Id}}">&lt;&lt;&nbsp;{{.upper_topic.Title}}</a></div>
                    {{end}} {{if gt .lower_topic.Id 1}}
                    <div class="next"><a href="/topic/{{.lower_topic.Id}}">{{.lower_topic.Title}}&nbsp;&gt;&gt;</a></div>
                    {{end}}
                </div>
                <div style="text-align: center;margin-top: 30px;">
                    <button type="button" onclick="dz('tid',{{.topic.Id}})" id='dz' class="layui-btn-small layui-btn-radius layui-btn-primary">
                        点赞
                    </button>
                    <button type="button" onclick="Collec('tid',{{.topic.Id}})" id="collection" class="layui-btn-small layui-btn-radius layui-btn-primary">
                        {{if .collection.Id}}取消收藏{{else}}收藏{{end}}
                    </button>
                </div>
                <div class="keywords" style="margin-top: 20px;">
                    转载文章时务必注明原作者及原始链接，并注明「发表于 TesterVillage 」，并不得对作品进行修改。
                </div>
                {{template "topic/reply.html" .}}
                <div class="layui-form layui-form-pane" style="margin: 0px 20px 0px 20px;">
                    <form method="post">
                        <div class="layui-form-item layui-form-text">
                            <div class="layui-input-block">
                                <textarea id="reply_content" name="content" placeholder="请输入内容" class="layui-textarea fly-editor" style="height:260px;"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item ">
                            <label for="L_title" class="layui-form-label">验证码</label>
                            <div class="layui-input-block">
                                <input type="hidden" name="topic_id" value="{{.topic.Id}}">
                                <input type="text" id="L_vercode" name="vercode" required lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input" style="display: inline;width: 150px;"> {{template "public/captcha.html"}}
                                <button class="layui-btn layui-btn-normal" lay-filter="replygo" lay-submit type="button" style="float: right;">
                                    提交回复
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="page_right">
            <div class="fly-home">
                <h3>关于作者</h3>
                <img src="{{.topic.Author.Avatar}}">
                <h1>{{.topic.Author.Nickname}}</h1>
                <p class="fly-home-info">
                <span>{{date .topic.Author.Ctime "Y-m-d"}}</span>
                <span>{{.topic.Author.City}}</span>
               <p class="fly-home-sign">签名:{{.topic.Author.Sign}}</p>
                <button type="button"  class="layui-btn-small layui-btn-radius layui-btn-primary">+关注</button>
                <button type="button"  class="layui-btn-small layui-btn-radius layui-btn-primary">私信</button>
            </div>
            <dl class="fly-panel fly-list-one" style="margin-top: 10px;">
            <dt class="fly-panel-title">他的其它文章</dt>
            {{range .other_topic}}
            <dd>
                <a href="/topic/{{.Id}}">{{.Title}}</a>
            </dd>
            {{end}}
            </dl>

        </div>
        <script>
        window._bd_share_config = {
            "common": {
                "bdSnsKey": {},
                "bdText": "",
                "bdMini": "1",
                "bdMiniList": ["weixin", "sqq", "youdao", "evernotecn", "copy"],
                "bdPic": "",
                "bdStyle": "2",
                "bdSize": "16"
            },
            "slide": {
                "type": "slide",
                "bdImg": "0",
                "bdPos": "left",
                "bdTop": "112.5"
            },
            "image": {
                "viewList": ["weixin"],
                "viewText": "分享到：",
                "viewSize": "16"
            },
            "selectShare": {
                "bdContainerClass": null,
                "bdSelectMiniList": ["weixin"]
            }
        };
        with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
        </script>
        <script>
        layui.config({
            base: '/static/js/'
        }).use('content')
        </script>
        <script type="text/javascript">
        function dz(tp, tpid) {
            $.ajax({
                url: "/dz",
                data: {
                    "type": tp,
                    "typeid": tpid
                },
                type: "POST",
                success: function(text) {
                    if (text.msg == "success") {
                        $("#dz").text("取消点赞")
                    } else if (text.msg == "取消点赞成功") {
                        $("#dz").text("点赞")
                    } else if (text.code != 0) {
                        layer.msg(text.msg)
                    }
                }
            })
        };

        function Collec(tp, tpid) {
            $.ajax({
                url: "/collection",
                data: {
                    "type": tp,
                    "typeid": tpid
                },
                type: "POST",
                success: function(text) {
                    if (text.msg == "success") {
                        $("#collection").text("取消收藏")
                    } else if (text.msg == "取消收藏成功") {
                        $("#collection").text("收藏")
                    } else if (text.code != 0) {
                        layer.msg(text.msg)
                    }
                }
            })
        };
        </script>
    </div>
    </div>
    </div>
    </div>
</body>
