<!DOCTYPE html>
<html>
{{template "public/header.html" .}}
<title>测试君|社区</title>
</head>

<body>
    {{template "public/nav.html" .}}
    <div class="main">
        <div class="page_left">
            <div class="detail_container trans_3">
                <h1>{{.topic.Title}}</h1>
                <div class="date_hits">
                    <span><i>标签:{{.topic.Category.Category}}</i></span>
                    <span><i>发表于：</i>{{date .topic.Ctime "Y-m-d H:i:s"}}</span>
                    <span><i>作者：</i>{{.topic.Author.Nickname}}</span>
                    <span><i>浏览数：</i> {{.topic.View}}</span>
                    <span><i>评论数：</i> {{.topic.ReplyCount}}</a></span>
                </div>
                <div class="t_content">
                    {{str2html .topic.Content}}
                </div>
                <div class="prev_next">
                    {{if gt .upper_topic.Id 0}}
                    <div class="prev"><a href="/topic/{{.upper_topic.Id}}">&lt;&lt;&nbsp;{{.upper_topic.Title}}</a></div>
                    {{end}} {{if gt .lower_topic.Id 1}}
                    <div class="next"><a href="/topic/{{.lower_topic.Id}}">{{.lower_topic.Title}}&nbsp;&gt;&gt;</a></div>
                    {{end}}
                </div>
                <div style="text-align: center;margin-top: 30px;">
                    <button type="button" onclick="dz('tid',{{.topic.Id}})" id='dz' class="layui-btn-small layui-btn-radius layui-btn-primary">
                        {{if .isdz}}已点赞{{else}}点赞{{end}}
                    </button>
                    <button type="button" onclick="Collec('tid',
                    {{.topic.Id}})" id="collection" class="layui-btn-small layui-btn-radius layui-btn-primary">
                        {{if .collection }}取消收藏{{else}}收藏{{end}}
                    </button>
                </div>
                <div class="keywords" style="margin-top: 20px;">
                    转载文章时务必注明原作者及原始链接，并注明「发表于 TesterVillage 」，并不得对作品进行修改。
                </div>
                {{template "topic/reply.html" .}}
                <div class="layui-form layui-form-pane" style="margin: 0px 20px 0px 20px;">
                    <form method="post">
                        <div class="layui-form-item layui-form-text">
                            <div class="layui-input-block">
                                <textarea id="reply_content" name="content" placeholder="请输入内容" class="layui-textarea fly-editor" style="height:260px;"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item ">
                            <label for="L_title" class="layui-form-label">验证码</label>
                            <div class="layui-input-block">
                                <input type="hidden" name="topic_id" value="{{.topic.Id}}">
                                <input type="text" id="L_vercode" name="vercode" required lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input" style="display: inline;width: 150px;"> {{template "public/captcha.html"}}
                                <button class="layui-btn layui-btn-normal" lay-filter="replygo" lay-submit type="button" style="float: right;">
                                    提交回复
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="page_right">
            <div class="fly-home" style="padding: 0px 0px 5px">
                <dt class="fly-panel-title">关于作者</dt>
                <img src="{{.topic.Author.Avatar}}">
                <h1>{{.topic.Author.Nickname}}</h1>
                <p class="fly-home-info">
                    <span>{{date .topic.Author.Ctime "Y-m-d"}}</span>
                    <span>{{.topic.Author.City}}</span>
                    <p class="fly-home-sign">
                    {{if eq (.topic.Author.Sign|len) 0}}
                    这个人很懒,什么都没有留下
                    {{else}}
                   {{.topic.Author.Sign}}
                    {{end}}
                    </p>
                    {{if .isself}}
                    {{else}}
                    {{if .isfirend}}
                    <button id="firend" onclick="firendadd({{.topic.Author.Id}})" class="layui-btn-small layui-btn-radius layui-btn-primary">取消关注</button>
                    {{else}}
                    <button id="firend" onclick="firendadd({{.topic.Author.Id}})" class="layui-btn-small layui-btn-radius layui-btn-primary">+关注</button>
                    {{end}}
                    <button type="button"  class="layui-btn-small layui-btn-radius layui-btn-primary" id="message">私信</button>
                    {{end}}
                    <input type="hidden" id="userb" value="{{.topic.Author.Id}}">
            </div>
            <dl class="fly-panel fly-list-one" style="margin-top: 10px;">
                <dt class="fly-panel-title">TA最近的文章</dt>
                {{range .other_topic}}
                <dd>
                    <a href="/topic/{{.Id}}">{{.Title}}</a>
                </dd>
                {{end}}
            </dl>
        </div>
        <script>
        window._bd_share_config = {
            "common": {
                "bdSnsKey": {},
                "bdText": "",
                "bdMini": "1",
                "bdMiniList": ["weixin", "sqq", "youdao", "evernotecn", "copy"],
                "bdPic": "",
                "bdStyle": "2",
                "bdSize": "16"
            },
            "slide": {
                "type": "slide",
                "bdImg": "0",
                "bdPos": "left",
                "bdTop": "112.5"
            },
            "image": {
                "viewList": ["weixin"],
                "viewText": "分享到：",
                "viewSize": "16"
            },
            "selectShare": {
                "bdContainerClass": null,
                "bdSelectMiniList": ["weixin"]
            }
        };
        with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
        </script>
        <script>
        layui.config({
            base: '/static/js/'
        }).use('content')
        </script>
    </div>
    </div>
    </div>
    </div>
    <script src="/static/js/jQuery.js"></script>
    <script src="/static/js/village.js"></script>
</body>
