<!DOCTYPE html>
<html>
{{template "public/header.html" .}}
<title>测试君|社区</title>
</head>

<body>
    {{template "public/nav.html" .}}
    <div class="main layui-clear">
        <div class="wrap">
            <div class="content">
                <div class="layui-tab layui-tab-brief">
                    <ul class="layui-tab-title">
                        <li class="layui-this"><a href="/topic/newtopic">{{str2html .cuscategory}}</a></li>
                    </ul>
                    <div class="layui-tab-content" style="padding: 0px;">
                        <div class="layui-tab-item layui-show">{{template "topic/topiccategory.html" .}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="edge">
        </div>
        <div class="edge">
            <a href="/topic/create">
                <button class="layui-btn layui-btn-normal">发表主题</button>
            </a>

            {{template "user/hotuser.html" .}}
            
                           {{template "topic/category.html" .}}
            
        </div>
    </div>
</body>

</html>