
   
    <div id="tree" data-url="/wiki/tree/{{.id}}">
    </div>
    {{.LayoutContent}}
</div>
<script src="/static/js/jQuery.js"></script>
<script src="/static/js/tree.jquery.js"></script>
<script src="/static/editor.md/editormd.min.js"></script>
<script>
$('#tree').tree();
</script>

<script type="text/javascript">
$('#tree').bind(
    'tree.select',
    function(event) {
        if (event.node) {
            var tree_data = $('#tree').tree('getTree');
           var tnode = $("#tree").tree('getSelectedNode');
           location.href ="/wiki/detial/"+tree_data["children"][0]["id"]+"/"+tnode.id
        } 
    }
);
</script>