<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
<li class="layui-nav-item" style=""><a href="/user/detial/{{.userinfo.Id}}"> 我的主页  </a> </li>
    <li class="layui-nav-item {{if .IsMyTopic}}layui-this{{end}}" style=""><a href="/user/topic/"> 我的主题  </a> </li>
    <li class="layui-nav-item {{if .IsMessage}}layui-this{{end}}" style=""><a href="/user/message"> 我的消息 </a> </li>
    <li class="layui-nav-item {{if .IsCollection}}layui-this{{end}}" style=""><a href="/user/collection/">  我的收藏  </a> </li>
    <li class="layui-nav-item {{if .IsFollow}}layui-this{{end}}" style=""><a href="/user/follow/">  我的关注   </a> </li>
    <li class="layui-nav-item {{if .IsSeting}}layui-this{{end}}" style=""><a href="/user/set/">  基本设置</a> </li>
     <li class="layui-nav-item {{if .IsMFA}}layui-this{{end}}" style=""><a href="/user/mfa/">  MFA设置</a> </li>
    <span class="layui-nav-bar" style="height: 0px; top: 212.5px; opacity: 0;"></span>
</ul>
