<!DOCTYPE html>
<html>
{{template "public/header.html" .}}
<title>测试君|测试</title>
</head>

<body>
    {{template "public/nav.html" .}}
    <div class="main fly-user-main layui-clear">
        {{template "user/center.html" .}}
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul id="LAY_mine" class="layui-tab-title">
                <li class="layui-this">主题</li>
                <li>酷站</li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-form layui-form-pane layui-tab-item layui-show">
                <ul class="mine-view jie-row">
                            {{range .MyCollecTopic}}
                            <li>
                                <a href="/topic/{{.Id}}" class="jie-title" target="_blank">{{.Title}}</a>
                             
                                <a class="mine-edit" href="/topic/{{.Id}}"></a>
                                <em>取消收藏</em>
                            </li>
                            {{end}}
                        </ul>
                </div>
                <div class="layui-form layui-form-pane layui-tab-item">1
                </div>
            </div>
        </div>
    </div>
    <script>
    layui.config({
        base: '/static/js/'
    }).use('user')
    </script>
</body>

</html>
