<!DOCTYPE html>
<html>
{{template "public/header.html" .}}
<title>测试村|找回密码</title>
</head>
<body>
 {{template "public/nav.html" .}}
<div style="background-image: url();" class="fly-home"> <img alt="{{.detial_userinfo.Nickname}}" src="{{.detial_userinfo.Avatar}}">
    <h1>    {{.detial_userinfo.Nickname}}     <i class="iconfont"></i>           </h1>
    <p class="fly-home-info"><span>{{date .detial_userinfo.Ctime "Y-m-d H:i:s"}}</span> <i class="iconfont icon-chengshi"></i><span>来自{{.detial_userinfo.City}}</span> 
    {{if .isself}}{{else}}{{if .isfollow}}<button onclick="firendadd({{.detial_userinfo.Id}})">取消关注</button>{{else}}<button onclick="firendadd({{.detial_userinfo.Id}})">+关注</button>{{end}}{{end}}</p>
    <p class="fly-home-sign">{{.detial_userinfo.Sign}}</p>
</div>

<div class="main fly-home-main">
<div class="layui-inline fly-home-jie">
<div class="fly-panel">
	<h3 class="fly-panel-title">{{.detial_userinfo.Nickname}} 最近的主题</h3>
	<ul class="jie-row">
	{{range .MyTopic}}
	<li>
		<a class="jie-title" href="/topic/{{.Id}}">{{.Title}}</a>
		<i>{{date .Ctime "Y-m-d H:i:s"}}</i>
		<em>浏览:{{.View}}     评论:{{.ReplyCount}}</em>
	</li>
	{{end}}
	</ul>
</div>
</div>

<div class="layui-inline fly-home-da">
<div class="fly-panel">
	<h3 class="fly-panel-title">{{.detial_userinfo.Nickname}} 最近的回复</h3>
	<ul class="home-jieda">
	{{range .MyReply}}
		<li>
			<p>
				<span>{{date .Ctime "Y-m-d H:i:s"}}</span>在
				<a href="/topic/{{.Topic.Id}}" target="_blank">{{.Topic.Title}}</a>中回答:
			</p>
			<div class="home-dacontent">{{str2html .Content}}</div>
		</li>
		{{end}}
	</ul>
</div>
</div>
</div>
<script src="/static/js/jQuery.js"></script>
<script type="text/javascript">
                    function firendadd(uid){
                    	$.ajax({
                    		url: "/user/firend",
                            data: {
                                "uid": uid
                            },
                            type: "POST",
                            success:function(text){
                            	if (text.code==0){
                            		console.log("cc")
                            	}else{
                            		console.log(text.msg)
                            	}
                            }
                    	})
                    } 
                    </script>
</body>
