<!DOCTYPE html>
<html>
{{template "public/header.html" .}}
<title>测试村|找回密码</title>
</head>
<body>
 {{template "public/nav.html" .}}
<div style="background-image: url();" class="fly-home"> <img alt="{{.userinfo.Nickname}}" src="{{.userinfo.Avatar}}">
    <h1>    {{.userinfo.Nickname}}     <i class="iconfont         "></i>           </h1>
    <p class="fly-home-info"> <i title="飞吻" class="iconfont icon-zuichun"></i><span style="color: #FF7200;">95飞吻</span> <i class="iconfont icon-shijian"></i><span>{{.userinfo.Ctime}}</span> <i class="iconfont icon-chengshi"></i><span>来自{{.userinfo.City}}</span> </p>
    <p class="fly-home-sign">{{.userinfo.Sign}}</p>
</div>
</body>