<!DOCTYPE html>
<html>
{{template "public/header.html" .}}
<title>测试君|测试</title>
</head>

<body>
    {{template "public/nav.html" .}}
    <div class="main fly-user-main layui-clear">
        {{template "user/center.html" .}}
        <div class="fly-panel fly-panel-user" pad20="">
            <div class="layui-tab layui-tab-brief" lay-filter="user">
                <ul id="LAY_mine" class="layui-tab-title">
                    <li class="layui-this">我的资料</li>
                    <li>头像</li>
                    <li>密码</li>
                    <li>修改昵称</li>
                </ul>
                <div class="layui-tab-content" style="padding: 20px 0;">
                    <div class="layui-form layui-form-pane layui-tab-item layui-show">
                        <form method="post">
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="L_email">邮箱</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" value="{{.userinfo.Email}}" autocomplete="off" lay-verify="email" required="" name="Email" id="L_email" disabled="disabled">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="L_username">昵称</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" value="{{.userinfo.Nickname}}" autocomplete="off" required="" name="Nickname" id="L_email">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="L_sex">性别</label>
                                <div class="layui-input-block">
                                    <input type="radio" title="男" value="0" name="sex" {{if eq .userinfo.Sex 0}}checked{{end}}>
                                    <div class="layui-unselect layui-form-radio {{if eq .userinfo.Sex 0}}layui-form-radioed{{end}}"><i class="layui-anim layui-icon"></i><span>男</span></div>
                                    <input type="radio" title="女" value="1" name="sex" {{if eq .userinfo.Sex 1}}checked{{end}}>
                                    <div class="layui-unselect layui-form-radio {{if eq .userinfo.Sex 1}}layui-form-radioed{{end}}"><i class="layui-anim layui-icon"></i><span>女</span></div>
                                    <input type="radio" title="保密" value="2" name="sex" {{if eq .userinfo.Sex 2}}checked{{end}}>
                                    <div class="layui-unselect layui-form-radio {{if eq .userinfo.Sex 2}}layui-form-radioed{{end}}"><i class="layui-anim layui-icon"></i><span>保密</span></div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="L_sign">城市</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" value="{{.userinfo.City}}" autocomplete="off" name="city" id="L_city"> </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label for="L_title" class="layui-form-label">个性签名</label>
                                <div class="layui-input-block">
                                    <textarea style="height: 80px;" class="layui-textarea" autocomplete="off" name="sign" id="L_sign" placeholder="随便写些什么刷下存在感">{{.userinfo.Sign}}</textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn" lay-submit="" lay-filter="setinfo" type="button" key="set-mine">确认修改</button>
                            </div>
                        </form>
                    </div>
                    <div class="layui-form layui-form-pane layui-tab-item">
                        <div class="layui-form-item">
                            <div class="avatar-add">
                                <p>建议尺寸168*168，支持jpg、png、gif，最大不能超过30KB</p>
                                <div class="upload-img">
                                    <div class="layui-box layui-upload-button">
                                        <input type="file" lay-title="上传头像" id="LAY-file" name="file" class="layui-upload-file">
                                        <span class="layui-upload-icon"><i class="layui-icon"></i>上传头像</span></div>
                                </div> <img src="{{.userinfo.Avatar}}"> <span class="loading"></span> </div>
                        </div>
                    </div>
                    <div class="layui-form layui-form-pane layui-tab-item">
                        <form method="post">
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="L_pass">原密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" class="layui-input" value="" autocomplete="off" lay-verify="required" required="" name="oldpassword" id="oldpassword">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="L_pass">新密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" class="layui-input" value="" autocomplete="off" lay-verify="required" required="" name="newpassword" id="newpassword">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="L_pass">确认密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" class="layui-input" value="" autocomplete="off" lay-verify="required" required="" name="repassword" id="repassword">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn" lay-submit="" lay-filter="modify-pwd" type="button" key="set-mine">确认修改</button>
                            </div>
                        </form>
                    </div>
                    <div class="layui-form layui-form-pane layui-tab-item">
                        <form method="post">
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="L_pass">昵称修改</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" value="{{.userinfo.Nickname}}" autocomplete="off" lay-verify="required" required="" name="ldnickname" id="ldnickname" >
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn" lay-submit="" lay-filter="modify-nickname" type="button" key="set-mine">确认修改</button>
                            </div>
                    
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    layui.config({
        base: '/static/js/'
    }).use('user')
    </script>
</body>

</html>
