<!DOCTYPE html>
<html>
{{template "public/header.html" .}}
<title>测试君|测试</title>
</head>

<body>
    {{template "public/nav.html" .}}
    <div class="main fly-user-main layui-clear">
        {{template "user/center.html" .}}
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul id="LAY_mine" class="layui-tab-title">
                <li class="layui-this">我的发帖</li>
                <li>我的回帖</li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-form layui-form-pane layui-tab-item layui-show">
                    <div>
                        <ul class="mine-view jie-row">
                            {{range .MyTopic}}
                            <li>
                                <a href="/topic/{{.Id}}" class="jie-title" target="_blank">{{.Title}}</a>
                                <i>{{date .Ctime "Y-m-d H:i:s"}}</i>
                                <a class="mine-edit" href="/topic/edit/{{.Id}}">编辑</a>
                                <em>浏览:{{.View}}     评论:{{.ReplyCount}}</em>
                            </li>
                            {{end}}
                        </ul>
                    </div>
                </div>
                <div class="layui-form layui-form-pane layui-tab-item">
                    <ul class="home-jieda">
                        {{range .MyReply}}
                        <li>
                            <p> <span>{{date .Ctime "Y-m-d H:i:s"}}</span> 在<a target="_blank" href="/topic/{{.Topic.Id}}">{{.Topic.Title}}</a>中回答： </p>
                            <div class="home-dacontent">{{str2html .Content}}</div>
                        </li>
                        {{end}}
                    </ul>
                    <div>
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    layui.config({
        base: '/static/js/'
    }).use('user')
    </script>
</body>

</html>
