<!DOCTYPE html>
<html>
{{template "public/header.html" .}}
<title>测试君|社区</title>
</head>
<body>
    {{template "public/nav.html" .}}
    <div class="main" style="overflow: hidden;"> 
<ul class="fly-case-list">
{{range .sites}}
<li>
<a class="fly-case-img" href="{{.Url}}" target="_blank">
<img src="{{.Img}}" alt="">
<cite class="layui-btn layui-btn-primary layui-btn-small">去围观</cite>
</a>
<h2><a href="{{.Url}}" target="_blank">{{.Title}}</a></h2>
<p class="fly-case-desc">{{.Content}}</p>
<div class="fly-case-info">        <a href="/user/detial/{{.User.Id}}" class="fly-case-user" target="_blank"><img src="{{.User.Avatar}}"></a>        <p class="layui-elip" style="font-size: 12px;"><span style="color: #666;">{{.User.Nickname}}</span> {{date .Ctime "Y-m-d"}}</p>        <p>获得<a class="fly-case-nums fly-case-active" href="javascript:;" data-type="showPraise" style=" padding:0 5px; color: #01AAED;">{{.Up}}</a>个赞</p>        <button class="layui-btn layui-btn-primary fly-case-active" data-type="praise">点赞</button> </li>{{end}}     </div>
</div>

</ul>