<div class="header">
	<div class="main">
		<a class="logo" title="测试君" href="/"></a>
		<div class="nav">
			<a href=""><i class="iconfont icon-wenda"><img src="/static/images/bbs.png">社区</i></a>
			<a href=""><i class="iconfont icon-wenda"><img src="/static/images/about.png"> 关于本站</i></a>
			<a href=""><i class="iconfont icon-wenda"><img src="/static/images/collection.png"> 收藏库</i></a>
		</div>
		<div class="nav-user">
			<span>
			{{if .islogin}}
			<a href="/user/detial/" class="avatar">
			<img src="{{.userinfo.Avatar}}">
			<cite>{{.userinfo.Nickname}}</cite>
			</a> 
			<a href="/user/logout">退出</a>
			
			
			{{else}}
			<a href="/user/login"><img src="/static/images/login.png">登录</a>
			<a href="/user/register"><img src="/static/images/register.png">注册</a></span>
			{{end}}
			
		</div>
		
	</div>
	
</div>
