<div class="header">
	<div class="main">
		<a class="logo" title="测试君" href="/"></a>
		<div class="nav">
			<a href="/">社区</a>
			<a href="/wiki">WiKi</a>
			<a href="/site">收藏库</a>
			<a href="/about">本站留言</a>
		</div>
		<div class="nav-user">
			<span>
			{{if .islogin}}
			<a href="/user/topic/" class="avatar">
			<img src="{{.userinfo.Avatar}}">
			<cite>{{.userinfo.Nickname}}</cite>
			</a> 
			<a href="/user/logout">退出</a>
			
			
			{{else}}
			<a href="/user/login">登录</a>
			<a href="/user/register">注册</a></span>
			{{end}}
			
		</div>
		
	</div>
	
</div>
